body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}

#clock{
   color: white; 
   font-family: monospace;
   font-weight: bold;
   font-size: 6.5rem;
   backdrop-filter: blur(5px);
}